
.user
  .user__box
    .user__box__name
    = current_user.name
    %ul.user__box__menu
      %li.user__box__menu__edit
        =link_to new_group_path do
          %i.fa.fa-edit
      %li.user__box__menu__new
        =link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .groups-contents
    - current_user.groups.each do |group|
      .groups
        = link_to  do
          .groups__name
            = group.name
          .groups__last-message メッセージ
