header{
	height:30px;
	background:$blue;
}
.contents{
	max-height: 100vh;
	width: 100vw;
	.left-content{
		float: left;
		width: 300px;
		font-weight: bold;
		.user{
			height: 100px;
			background: #253141;
			&__box{
				padding: 35px 20px;
				&__name{
					float:left;
					font-size: 16px;
					color: $white;
				}
				&__menu{
					float: right;
					li{
						display:inline-block;
						a{
							color:$white;
						}
					}
				}
			}
		}
		.groups-contents{
			background-color: #2f3e51;
			height: calc(100vh - 100px);
			.groups{
				padding:20px 20px 40px;
				&__name{
					font-size: 15px;
					color: $white;
					padding-bottom: 5px;
				}
				&__last-message{
					font-size: 11px;
					color: $white;
				}
			}
		}
	}

	.right-content{
		float:left;
		width: calc(100vw - 300px);
		.group{
			padding: 0 40px;
			height: 100px;
			border-bottom: solid 1px #eeeeee;
			&__box{
				display:inline-block;
				&__name{
					padding-top:35px;
					padding-bottom: 15px;
					font-size: 20px;
					color: #333333;
				}
				&__members{
					font-size: 12px;
					color: #999999;
				}
			}
			a{
					color: $blue;
					height: 40px;
    				line-height: 40px;
    				padding: 0 20px;
    				margin-top: 30px;
				    border: solid 1px $blue;
   					 position: absolute;
   					 right: 40px;
			}

		}

		.messages{
			padding:46px 40px 0 40px;
			height: calc(100vh - 277px);
			background-color: #fafafa;
			overflow: scroll;
			.message{
				padding-bottom: 40px;
				&__user{
					display:inline-block;
					font-size: 16px;
					color: #434A54;
					font-weight: bold;
				}
				&__create{
					display:inline-block;
					font-size: 12px;
					color: #999999
				}
				p{
					padding-top: 10px;
					font-size: 14px;
					color: #434A54;
				}
			}
		}
		.post{
			height: 90px;
			padding: 20px 40px;
			background: #dddddd;
			.input-box{
				width:100%;
				height: 50px;
				position: relative;
				padding: 20px 40px 0 10px;
				&__text{
					height:50px;
					padding: 0 40px 0 10px;
					float: left;
					width: 85%;
					padding: 0 10px 0 10px;
				}
				&__image{
					float: right;
					position: relative;
					line-height: 50px;
					right: 150px;
					cursor: pointer;
					.fas.fa-images{
						.input-box__image__file{
							display: none;
						}
					}
				}
			}
				&__btn{
					border-radius: 3px;
					background: $blue;
					margin-left: 15px;
					color: $white;
					width:100px;
					height: 50px
				}
		}
	}
}

